[View in Colaboratory](https://colab.research.google.com/github/schwaaweb/aimlds1_06-TheMachineLearningFramework/blob/master/T06_CC--DJ--Linear-Regression-the-Right-way.ipynb)

In this challenge we'll be doing a linear fit with two input variables and one output, so our model looks like y ~ a + b*x_1 + c*x_2. First, let's import the libraries we'll need.

In [1]:
import numpy as np
import pandas as pd
import requests
import io
import matplotlib.pyplot as plt

Now let's grab the data. This is a fictional data set made for the purpose of this exercise.

In [46]:
url="https://raw.githubusercontent.com/mathewphilipc/LambdaDataSets/master/bivariate_linear_data.csv"
s=requests.get(url).content
data=pd.read_csv(io.StringIO(s.decode('utf-8')))
#data

            x1         x2           y
0    11.429126 -30.912912  204.163058
1    11.730814 -28.844725  202.434680
2     7.800468   7.539354   78.587293
3     4.812186 -53.531169  165.026665
4    12.688828  -9.040101  176.892635
5     3.448892 -33.377291  103.512856
6     5.760361  -4.689424   78.013951
7     5.341423 -28.263555  117.669235
8    12.120276 -20.419094  187.411226
9     7.649978 -46.184639  178.291181
10    8.087468 -30.039426  156.017700
11   10.607782 -42.028183  214.917026
12   14.076165 -44.460515  265.174168
13    6.295694  26.108360   19.242821
14    9.962130 -35.069421  190.814404
15   10.626152 -11.787515  155.965185
16    6.225897   4.552955   55.720322
17   10.879498  -6.935555  148.385038
18   11.290902 -90.848665  317.646578
19    7.557305 -71.990283  233.610642
20    7.540531 -17.291290  124.173852
21    4.376511 -36.109459  119.872374
22    9.302418 -44.213409  198.339333
23   11.552843 -69.074675  279.875692
24   15.679419  -8.281613  207.349872
25   12.260877 -24.796856  205.193029
26    9.089719   4.822566   99.524732
27    8.963991 -48.132120  207.405794
28    8.949643   2.713260  101.945426
29   10.224533 -31.758243  184.398526
..         ...        ...         ...
170   6.989837 -17.344463  118.914806
171  11.110828 -38.500748  216.130608
172  13.274299  -9.194354  183.664559
173  12.294484 -35.110500  214.823676
174  11.932317  -8.926580  167.441533
175  10.204727 -13.099356  151.000945
176  12.321207 -24.420473  202.608279
177   8.921787 -33.790144  174.223101
178  14.307803 -50.422315  276.234141
179   5.958873 -29.672913  125.099328
180  10.195192 -40.640626  202.212290
181  14.178027   0.116044  180.397533
182  10.550432 -21.242960  163.962682
183  12.298351 -29.791449  208.184389
184  12.885352 -28.983147  214.315464
185  12.648832 -60.040531  276.619532
186  10.722443 -33.978267  193.420616
187  11.674608  30.322815   80.381102
188  12.120972 -35.876735  224.377150
189   9.697380 -92.296493  302.816126
190  11.314338 -19.731430  176.103692
191   6.631419 -49.593033  181.550919
192   8.076611 -62.500139  223.509509
193  13.877606 -69.462856  309.384321
194  11.134810 -56.098252  244.719774
195   9.856331 -61.897267  242.089953
196   7.072967 -39.416180  160.591273
197   8.037861 -28.979608  153.407805
198  14.253352  -7.718816  193.444687
199  12.064866   0.193149  147.947269

[200 rows x 3 columns]

In [7]:
# So I can work offline
#!wget -c https://raw.githubusercontent.com/mathewphilipc/LambdaDataSets/master/bivariate_linear_data.csv

We're going to find the optimal [a,b, c] values the right by, using the *normal equations*. The first step is to add a new column to the left of the x1 column and set all of its values to 1. Think of this as the x0 columns. Then introduce a matrix X consisting of the x0, x1, x2 columns and and vector Y with just the y column. Do any reshaping you need to make later steps work.

In [22]:
data.shape # this is the shape of the downloaded csv

x0 = [ 1 for n in range(200) ]

In [49]:
pdx = pd.DataFrame(x0, columns=['x0'])
#pdx[x1] = data['x1']
pdx.loc[:,'x1'] = data.loc[:,'x1']
pdx.loc[:, 'x2'] = data.loc[:,'x2']
pdy = data.loc[:,'y']
pdx

     x0         x1         x2
0     1  11.429126 -30.912912
1     1  11.730814 -28.844725
2     1   7.800468   7.539354
3     1   4.812186 -53.531169
4     1  12.688828  -9.040101
5     1   3.448892 -33.377291
6     1   5.760361  -4.689424
7     1   5.341423 -28.263555
8     1  12.120276 -20.419094
9     1   7.649978 -46.184639
10    1   8.087468 -30.039426
11    1  10.607782 -42.028183
12    1  14.076165 -44.460515
13    1   6.295694  26.108360
14    1   9.962130 -35.069421
15    1  10.626152 -11.787515
16    1   6.225897   4.552955
17    1  10.879498  -6.935555
18    1  11.290902 -90.848665
19    1   7.557305 -71.990283
20    1   7.540531 -17.291290
21    1   4.376511 -36.109459
22    1   9.302418 -44.213409
23    1  11.552843 -69.074675
24    1  15.679419  -8.281613
25    1  12.260877 -24.796856
26    1   9.089719   4.822566
27    1   8.963991 -48.132120
28    1   8.949643   2.713260
29    1  10.224533 -31.758243
..   ..        ...        ...
170   1   6.989837 -17.344463
171   1  11.110828 -38.500748
172   1  13.274299  -9.194354
173   1  12.294484 -35.110500
174   1  11.932317  -8.926580
175   1  10.204727 -13.099356
176   1  12.321207 -24.420473
177   1   8.921787 -33.790144
178   1  14.307803 -50.422315
179   1   5.958873 -29.672913
180   1  10.195192 -40.640626
181   1  14.178027   0.116044
182   1  10.550432 -21.242960
183   1  12.298351 -29.791449
184   1  12.885352 -28.983147
185   1  12.648832 -60.040531
186   1  10.722443 -33.978267
187   1  11.674608  30.322815
188   1  12.120972 -35.876735
189   1   9.697380 -92.296493
190   1  11.314338 -19.731430
191   1   6.631419 -49.593033
192   1   8.076611 -62.500139
193   1  13.877606 -69.462856
194   1  11.134810 -56.098252
195   1   9.856331 -61.897267
196   1   7.072967 -39.416180
197   1   8.037861 -28.979608
198   1  14.253352  -7.718816
199   1  12.064866   0.193149

[200 rows x 3 columns]

To make sure this worked, verify that X has length 200 and width 3.

In [50]:
pdx.shape

(200, 3)

And just for sanity' sake, print out the first row of X and compare it with the contents of the csv file we read from.

In [53]:
pdx.iloc[:5]

   x0         x1         x2
0   1  11.429126 -30.912912
1   1  11.730814 -28.844725
2   1   7.800468   7.539354
3   1   4.812186 -53.531169
4   1  12.688828  -9.040101

In [54]:
data.iloc[:5]

          x1         x2           y
0  11.429126 -30.912912  204.163058
1  11.730814 -28.844725  202.434680
2   7.800468   7.539354   78.587293
3   4.812186 -53.531169  165.026665
4  12.688828  -9.040101  176.892635

Now here's the most important part. As it turns out, the optimal vector [a, b, c] can be calculated in a single step (assuming you have a matrix algebra library and don't have to do the operations yourself) in terms of X and Y. Here's the solution:

(X^T * X)^(-1) * X^T * Y

where \* means *matrix multiplication*, ^T means *matrix transpose* and ^(-1) means *matrix inverse*. Calculate [a, b, c] and print the values of a, b, and c.

In [ ]:
# replace with student code

Finally, plot the points defined by x,y and the line that you calculated using the above matrix transforms.

In [ ]:
# replace with student code